.header {
    border: 1px solid black;
    padding: 20px;
    position: fixed;
    width: 80%;
    background-color: #f4f4f4;
    z-index: 2;
}

.directions {
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

strong {
    font-weight: 600;
    color: #f58f29;
    margin-right: 10px;
}

header {
    background-color: #f4f4f4;
    margin-top: 22px;
    width: 100%;
    display: flex;
    justify-content: center;
}

header .material-icons.md-18 {
    font-size: 18px;
    color: rgb(106, 106, 106);
}

@media screen and (max-width: 480px) {
    .header {
        padding: 50px;
    }

    .directions {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    strong {
        margin: 5px 0;
    }
}
